<%= form_for @survey do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <%= f.fields_for :questions do |builder| %>
    <p class="questions">
      <%= builder.label :content, "Question" %><br>
      <%= builder.text_area :content, :rows => 3 %>
      <%= builder.hidden_field :_destroy %>
      <%= link_to_function "Remove Question", "remove_questions(this)" %>
    </p>
  <% end %>

  <p><%= f.submit %></p>
<% end %>
